.apresentacao {
  background-image: /* linear-gradient(#4A4A4A, #212121),*/ url('../img/bg/bg.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.banner {
  color: var(--branco);
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  width: 85%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.titulo__apresentaca {
  font-size: 1.20rem;
}

.texto__apresentacao {
  font-size: 1.45rem;
}


@media screen and (min-width: 850px){
  .apresentacao {
    background-image: url('../img/bg/bg.jpg');
    background-repeat: no-repeat;
  }

  .banner {
    width: 25%;
    top: 40%;
    left: 40%;
  }
}

@media screen and (min-width: 1500px){
  

  .banner {
    width: 35%;
    top: 40%;
    left: 40%;
  }
}