.container--conteudo,
.texto-conteudo,
.list-conteudo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.15rem;
  margin-right: 1.15rem;
}

.item-conteudo{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.titulo-conteudo{
  font-size: 2rem;
  text-transform: capitalize;
}

.item-conteudo::before {
  content: '👉 ';
}

.img-conteudo{
  margin-top: 2rem;
}

.aviso-conteudo{
  margin: 1.25rem;
  color: var(--vermelho);
  text-transform: uppercase;
}

.linha--conteudo {
  width: 20%;
  border-bottom: 1px solid #ff5e14;
  margin-bottom: 10px;
  margin-top: 2px;
}

.figcaption-conteudo{
  margin: 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.link-conteudo{
  color: #ff5e14;
}

.link-conteudo:hover,
.link-conteudo:focus{
  text-decoration: underline;
}

@media screen and (max-width: 500px){
  .img-conteudo{
    min-width: 15rem;
    max-width: calc(12.5rem + 15vh);
  }
}

@media screen and (min-width: 500px){
  .img-conteudo{
    max-width: 45vh;
  }
}

@media screen and (min-width: 800px){
  .img-conteudo{
    max-width: 70vh;
  }
}

@media screen and (min-width: 1000px){
  .img-conteudo{
    max-width: 100vh;
  }
}