html[data-theme='light']{
  --bg-main: #F0F4FA;
  --txt-color: #1B1B1B;
  --bg-secondary: #E0E9F5;
  --bg-tertiary: #0C1C31;
}

html[data-theme='dark']{
  --bg-main: #0C1C31;
  --txt-color: #F0F4FA;
  --bg-secondary: #1E395C;
  --bg-tertiary: #F0F4FA;
}

.container-dark {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.card-dark {
  background: var(--bg-secondary);
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.switch .input-dark {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-tertiary);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-secondary);
  -webkit-transition: .4s;
  transition: .4s;
}

.input-dark:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

/* Controles deslizantes arredondados */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.icon-dark {
  font-size: 2rem;
  color: var(--txt-color);
}