@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* paletas de colores */
:root {
  --surface: #191a20;
  --primary-text: #ffffff;
  --secondary-text: #a5a9ed;
  --link-text: #a5a9ed;
}

:root[color-mode="dark"] {
  --surface: #191a20;
  --primary-text: #ffffff;
  --secondary-text: #a5a9ed;
  --link-text: #a5a9ed;
}

:root[color-mode="light"] {
  --surface: #f5f5f5;
  --primary-text: #212121;
  --secondary-text: #1976d2;
  --link-text: #212121;
}

.main-teste {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: var(--sans);
  background-color: var(--surface);
  color: var(--primary-text);
}

.p-teste,
.blockquote-teste,
.item-teste {
  text-align: justify;
  line-height: 1.6rem;
}

.blockquote-teste {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  margin: 40px auto;
  border-top: solid 3px;
  border-bottom: solid 3px;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.8rem;
  border-color: var(--secondary-text);
}

.blockquote-teste:after {
  position: absolute;
  content: "”";
  color: var(--secondary-text);
  font-size: 8rem;
  bottom: -40px;
  right: 10px;
}

.a-teste,
.a-teste:link,
.a-teste:visited {
  color: var(--link-text);
}

/* Alternar estilos relacionados */
.form-teste .description {
  text-align: center;
  margin-bottom: 1rem;
}

.form-teste .switch {
  position: relative;
  width: 18rem;
  height: 3rem;
  margin: 0 auto;
  font-size: 0;
}

.form-teste .switch .input-teste {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  height: 3rem;
  width: 6rem;
  left: 6rem;
  margin: 0;
}

.form-teste .switch .input-teste:checked {
  z-index: 1;
}

.form-teste .switch .input-teste:checked ~ .toggle-outside .toggle-inside {
  left: 0.25rem;
}

.form-teste .switch .input-teste:checked + .label-teste {
  opacity: 1;
  cursor: default;
}

.form-teste .switch .input-teste:not(:checked) + .label-teste:hover {
  opacity: 0.5;
}

.form-teste .switch .label-teste {
  color: var(--primary-text);
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
  font-size: 1rem;
  line-height: 3rem;
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: center;
}

.form-teste .switch .label-teste:last-of-type {
  margin-left: 6rem;
}

.form-teste .switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.25rem;
  overflow: hidden;
  transition: 0.5s ease all;
  background: #fff;
  position: absolute;
  width: 6rem;
  left: 6rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.form-teste .switch .toggle-inside {
  border-radius: 5rem;
  background: #192432;
  position: absolute;
  transition: 0.25s ease all;
  height: 2.5rem;
  width: 2.5rem;
}

.form-teste .switch .toggle-inside:before {
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: 900;
  content: "\f186";
  font-style: normal;
  color: #ffffff;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  position: absolute;
  z-index: 3;
  margin: 20% auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #b2ebf2;
}

.form-teste .switch .input-teste:checked ~ .input-teste:checked ~ .toggle-outside .toggle-inside {
  left: 3.25rem;
  background-color: #fbc02d;
}

.form-teste .switch .input-teste:checked ~ .toggle-outside .toggle-inside:before {
  content: "\f185";
  color: #ff5722;
}

.form-teste .switch .input-teste#on:focus ~ .toggle-outside .toggle-inside {
  background-color: #b2ebf2;
}

.form-teste .switch .input-teste#on:focus ~ .toggle-outside .toggle-inside:before {
  color: #192432;
}

.form-teste .switch .input-teste#off:focus ~ .toggle-outside .toggle-inside {
  background-color: #ff5722;
}

.form-teste .switch .input-teste#off:focus ~ .toggle-outside .toggle-inside:before {
  color: #fbc02d;
}

/* Estilos de diseño de cuadrícula y ejemplo */
.wrapper-teste {
  margin: 0 auto;
  padding: 1.2rem;
  display: grid;
  justify-content: start;
  align-content: start;
  gap: 0 30px;
  grid-template-areas:
    "widgets"
    "header"
    "content"
    "sidebar"
    "footer";
}

.wrapper-teste .main-head {
  grid-area: header;
  font-size: 1.2rem;
  padding: 1rem 0;
  color: var(--secondary-text);
}

.wrapper-teste .main-head .h1-test {
  border-bottom: 3px solid;
  border-color: var(--secondary-text);
  line-height: 3.5rem;
  padding-bottom: 1rem;
}

.wrapper-teste .head-widgets {
  grid-area: widgets;
  padding: 1rem 0;
}

.wrapper-teste .content {
  grid-area: content;
  padding-bottom: 2rem;
}

.wrapper-teste .side {
  grid-area: sidebar;
}

.wrapper-teste .side .p-teste {
  text-align: left;
}

.wrapper-teste .main-footer {
  grid-area: footer;
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid;
  border-color: var(--primary-text);
  font-size: 0.9rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper-teste {
    max-width: 920px;
    grid-template-columns: 8fr 4fr;
    grid-template-areas:
      "header widgets"
      "content sidebar"
      "footer footer";
  }
}
